#infinite-space {
    position: absolute;
    top: 0;
    left: 0;
    width: 2000px;
    height: 2000px;
    overflow: hidden;
}

.draggable {
    position: absolute;
    z-index: 1  ;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
  }
  
.draggable-header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}